.karavan {
    color: var(--pf-global--Color--100);
}

.karavan .tools-section {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0;
    border-bottom: 1px solid #eee;
}

.karavan .tools-section .dsl-title {
    display: flex;
    flex-direction: row;
}

.karavan .tools-section .dsl-title .title {
    margin-right: 16px;
}

.karavan .brand {
    height: 36px;
}

.karavan .header-button {
    margin-left: var(--pf-c-page__header-tools--MarginRight);
}

.karavan .page-header {
    display: flex;
    justify-content: space-between;
}

.karavan .page-header .top-toolbar .pf-c-page__header-tools{
    margin-right: 0;
}
.karavan .page-header .top-toolbar {
    width: 100%;
}

.karavan .page-header .pf-c-page__header-brand {
    padding-right: 16px;
}

.karavan .main-alert {
    position: fixed;
    width: 500px;
    height: 90px;
    left: 50%;
    margin-top: 20px;
    margin-left: -250px;
}

.filler {
    width: 100%;
}

.modal-footer {
    width: 100%;
}

.modal-footer .deploy-buttons .pf-c-form__actions {
    justify-content: flex-end;
    margin-top: 16px;
}

.modal-footer .deploy-buttons .pf-c-button {
    margin-left: 16px;
}

.action-buttons .pf-c-form__actions {
    justify-content: flex-end;
    margin-top: 16px;
}

.action-buttons .pf-c-button {
    margin-left: 16px;
}

.pf-c-modal-box__footer .hidden {
    display: none;
}

.upload-buttons .pf-c-form__actions {
    margin-top: 20px;
    justify-content: flex-end;
}

/*integration page*/
.integration-page .integration-card {
    cursor: pointer;
    height: 160px;
}

.integration-page .integration-card .pf-c-card__header {
    padding-right: 6px;
}

.integration-page .integration-card .icon {
    height: 24px;
}

.integration-page .integration-card .delete-button {
    font-size: 17px;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    color: #b1b1b7;
    visibility: hidden;
}

.integration-page .integration-card:hover .delete-button {
    visibility: visible;
}

/*kamelets*/
.kamelets-page .kamelet-card {
    cursor: pointer;
    height: 160px;
}

.kamelets-page .kamelet-card .pf-c-card__header {
    padding-right: 6px;
}

.kamelets-page .kamelet-card .pf-c-card__body {
    overflow: hidden;
    position: relative;
}

.kamelets-page .kamelet-card .kamelet-icon {
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*kamelet modal*/
.kamelet-modal-card .pf-c-card__header {
    padding-right: 6px;
    display: flex;
    justify-content: space-between;
}

.kamelet-modal-card .pf-c-card__title {
    font-weight: 600;
}

.kamelet-modal-card .description {
    overflow: hidden;
    position: relative;
    max-width: 600px;
}

.kamelet-modal-card .kamelet-icon {
    height: 36px;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.karavan .page {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*DSL*/
.karavan .dsl-page {
    flex: 1;
    overflow: auto;
}

.karavan .dsl-page .dsl-page-columns {
    display: flex;
    flex-direction: row;
    height: 100%;
    background: #fafafa;
}

.karavan .top-icon {
    height: 24px;
}

.karavan .main-tabs .top-menu-item {
    display: flex;
    flex-direction: row;
}

.karavan .main-tabs .top-menu-item .count {
    background: var(--pf-global--active-color--100);
    /*color: white;*/
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.karavan .main-tabs .pf-c-tabs__link .pf-c-tabs__item-icon {
    height: 24px;
    margin-right: 0;
}

.karavan .main-tabs .pf-c-tabs__item-text {
    font-size: 14px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
}

.karavan .main-tabs .pf-c-tabs__item.pf-m-current {
    --pf-c-tabs__link--after--BorderColor: var(--pf-global--primary-color--200);
}

/*Properties*/
.karavan .properties {
    border: 1px solid #eee;
    padding: 10px 10px 10px 10px;
    font-size: 13px;
    background: #fcfcfc;
    width: 450px;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.karavan .properties .headers {
    grid-row-gap: 10px;
    row-gap: 10px;
    display: contents;
}

.karavan .properties .footer {
    height: 100%;
    display: contents;
}

.karavan .properties .pf-c-form {
    row-gap: 10px;
}

.karavan .properties .pf-c-form__group-label {
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
}

.karavan .properties .pf-c-form__label {
    font-size: 13px;
}

.karavan .properties .text-field {
    font-size: 13px;
    height: auto;
}

.karavan .properties .input-group .pf-c-text-input-group__text {
    width: 100%;
}

.karavan .properties .input-group .pf-c-chip-group,
.karavan .properties .input-group .pf-c-text-input-group__main,
.karavan .properties .input-group .pf-c-chip-group .pf-c-chip-group__list,
.karavan .properties .input-group .pf-c-chip-group .pf-c-chip-group__list .pf-c-chip-group__list-item,
.karavan .properties .input-group .pf-c-chip-group .pf-c-chip-group__main {
    display:block;
}

.karavan .properties .input-group .pf-c-chip-group {
    margin-left: 0;
}

.karavan .properties .input-group .pf-c-chip-group .pf-c-chip .pf-c-chip__text{
    max-width: inherit;
}
.karavan .properties .input-group .pf-c-chip-group .pf-c-chip {
    width: 100%;
}

.karavan .properties .input-group .pf-c-text-input-group__utilities {
    align-items: end;
}

.karavan .properties .chip .pf-c-button{
    position:absolute;
    right: 0;
}

.karavan .properties .expression-title {
    font-size: 17px;
    font-weught: bold;
}

.karavan .properties .text-area {
    font-size: 13px;
}

.karavan .properties .pf-c-select__menu-search {
    padding: 0px 6px 6px 6px;
}

.karavan .properties .pf-c-select__toggle-typeahead {
    font-size: 13px;
    height: auto;
}

.karavan .properties .pf-c-select__menu-item {
    width: 280px;
    font-size: 15px;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*line-height: 12px;*/
}

.karavan .properties .number {
    display: flex;
    justify-content: space-between;
}

.karavan .properties .number .number-property {
    width: 100%;
}

.karavan .properties .number .clear-button {
    color: #b1b1b7;
    --pf-c-button--BorderRadius: var(--pf-c-button--m-control--BorderRadius);
    --pf-c-button--disabled--BackgroundColor: var(--pf-c-button--m-control--disabled--BackgroundColor);
    --pf-c-button--after--BorderWidth: var(--pf-c-button--m-control--after--BorderWidth);
    --pf-c-button--after--BorderColor: var(--pf-c-button--m-control--after--BorderTopColor) var(--pf-c-button--m-control--after--BorderRightColor) var(--pf-c-button--m-control--after--BorderBottomColor) var(--pf-c-button--m-control--after--BorderLeftColor);
    color: var(--pf-c-button--m-control--Color);
    background-color: var(--pf-c-button--m-control--BackgroundColor);
    padding-left: 5px;
    padding-right: 5px;
}

.karavan .properties .help-button {
    font-size: 12px;
}

.karavan .properties .component-selector {
    border-width: var(--pf-global--BorderWidth--sm);
    border-top-color: var(--pf-global--BorderColor--300);
    border-right-color: var(--pf-global--BorderColor--300);
    border-bottom-color: var(--pf-global--BorderColor--200);
    border-left-color: var(--pf-global--BorderColor--300);
    border-style: solid;
}

.karavan .properties .expression,
.karavan .properties .object,
.karavan .properties .dataformat,
.karavan .properties .parameters {
    padding-top: 6px;
    padding-left: 16px;
    row-gap: 6px;
    display: grid;
}

.karavan .properties .expression .pf-c-form__group-label,
.karavan .properties .object .pf-c-form__group-label,
.karavan .properties .dataformat .pf-c-form__group-label,
.karavan .properties .parameters .pf-c-form__group-label {
    font-weight: 100;
}

.karavan .properties .expression .pf-c-form__group,
.karavan .properties .object .pf-c-form__group,
.karavan .properties .dataformat .pf-c-form__group,
.karavan .properties .parameters .pf-c-form__group {
    margin-bottom: 10px;
}

.karavan .properties .expression .pf-c-select__menu-wrapper,
.karavan .properties .object .pf-c-select__menu-wrapper,
.karavan .properties .dataformat .pf-c-select__menu-wrapper,
.karavan .properties .parameters .pf-c-select__menu-wrapper{
    width: 350px;
}

.karavan .properties .add-button {
    font-size: 15px;
    height: 15px;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: auto auto auto 6px;
    background: transparent;
    color: #fb8824;
}

.karavan .properties .add-button svg {
    margin-right: 6px;
}


/*Graph*/
.karavan .dsl-page .graph {
    display: block;
    flex-direction: column;
    font-size: 13px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: auto;
}

.karavan .dsl-page .flows {
    font-size: 13px;
    width: 100%;
    position: relative;
}

.karavan .dsl-page .flows .add-flow {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

/*connections*/
.karavan .dsl-page .graph .connections {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}

.karavan .dsl-page .graph .connections .icon {
    height: 20px;
}

.karavan .dsl-page .graph .connections .inout-name {
    margin: auto;
    overflow: hidden;
    font-size: 24px;
    font-weight: bold;
}

.karavan .dsl-page .graph .connections .arrow {
    stroke: #fb8824;
    fill: #fb8824;
}

.karavan .dsl-page .graph .connections .path {
     stroke: #fb8824;
     stroke-width: 1;
     fill: transparent;
}

.karavan .dsl-page .graph .connections .circle-outgoing,
.karavan .dsl-page .graph .connections .circle-incoming {
    stroke: #fb8824;
    stroke-width: 1;
    fill: white;
}

.karavan .dsl-page .graph .connections .path-incoming {
    stroke-dasharray: 5;
    -webkit-animation: dashdraw .5s linear infinite;
    animation: dashdraw .5s linear infinite;
    stroke: #fb8824;
    strokeWidth: 1;
    fill: transparent;
}
@keyframes dashdraw{0%{stroke-dashoffset:10}}

.karavan .dsl-page .flows .step-element {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-color: #fb8824;
    border-radius: 20px;
    border-width: 1px;
    min-width: 120px;
    padding: 3px 4px 4px 4px;
    margin: 3px auto 0 auto;
    position: relative;
}

.karavan .dsl-page .flows .children {
    display: flex;
    flex-wrap: wrap;
    flex-wrap:nowrap;
    gap: 6px;
}

.karavan .dsl-page .flows .has-child {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    gap: 6px;
}

.karavan .dsl-page .flows .step-element .header-route {
    display: block;
    border: none;
    background: transparent;
    padding: 0px 0px 0px 0px;
    margin-bottom: 10px;
    min-width: 160px;
    z-index: 101;
}

.step-element .header-route .delete-button {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 14px;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    color: #909090;
    visibility: hidden;
}

.step-element .header .delete-button,
.element-builder .header .delete-button {
    position: absolute;
    top: 0px;
    font-size: 14px;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: 0 0 0 10px;
    background: transparent;
    color: #909090;
    visibility: hidden;
}

.step-element .header:hover .delete-button,
.step-element .header-route:hover .delete-button,
.element-builder .header:hover .delete-button {
    visibility: visible;
}

.modal-delete {
    width: 350px !important;
}

.step-element .header {
    height: 50px;
}

.step-element-selected {
    background-color: rgb(171, 172, 224, 0.1);
}

.step-element .selected .header-icon {
    border-color: rgb(48, 50, 132);
    background-color: rgb(171, 172, 224);
    border-width: 2px;
}

.step-element .header .header-text {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.step-element .header .spacer {
    width: 50%
}
.step-element .header .text-bottom {
    background-color: rgba(250, 250, 250, 0.5);
}
.step-element .header .text-right {
    padding-left: 17px;
    width: 50%;
    text-align:start;
}

.step-element .header-icon {
    border-color: #fb8824;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    background: white;
    width: 30px;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-element .header .icon,
.element-builder .header .icon {
    height: 20px;
    width: auto;
    border: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.dsl-page .add-flow-button {
    margin-top: 26px;
    font-size: 15px;
    line-height: 1;
    border: 0;
    padding: 0;
    background: transparent;
    color: #fb8824;
}

.step-element .arrow-down {
    margin-top: -1px;
    font-size: 13px;
    height: 16px;
    color: #fb8824;
}

.step-element .add-element-button {
    top: 5px;
    left: 5px;
    font-size: 15px;
    height: 15px;
    line-height: 1;
    border: 0;
    padding: 0;
    background: transparent;
    color: #fb8824;
    visibility: hidden;
    z-index: 100;
    position: absolute;
}

.step-element .add-button-bottom {
    position: relative;
}

.step-element .add-button-left {
    position: absolute;
    top: 4px;
    left: 4px;
}

.step-element .add-button {
    font-size: 15px;
    height: 15px;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    color: #fb8824;
    visibility: hidden;
    z-index: 100;
}

.element-builder .add-button {
    top: 0;
    right: 5px;
    font-size: 15px;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: 3px auto 0 auto;
    background: transparent;
    color: #fca338;
    visibility: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 16px;
}

.element-builder .add-button svg {
    margin: 0 auto 3px auto;
}


.element-builder:hover .add-button,
.step-element:hover .add-element-button,
.step-element:hover .add-button {
    visibility: visible;
}

.dsl-gallery {
    margin-top: 16px;
}

.dsl-modal {
    height: 80%;
    color: var(--pf-global--Color--100);
}

.dsl-modal .dsl-card {
    cursor: pointer;
}

.dsl-modal .dsl-card .icon {
    height: 20px;
    width: auto;
    border: none;
    margin-right: 6px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.dsl-modal .search {
    width: 300px;
    position: absolute;
    top: 24px;
    right: 72px;
}


.dsl-modal .search .pf-c-form__group-label{
    padding: 0;
    margin: auto;
}

.dsl-modal .search .text-field {
    font-size: 13px;
    height: auto;
}

.dsl-modal .pf-c-form.pf-m-horizontal .pf-c-form__group {
    display: contents;
}

.dsl-modal .pf-c-card__body {
    padding-bottom: 0;
}

.dsl-modal .pf-c-card__footer {
    padding-bottom: 1em;
}

.dsl-modal .footer {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
}
.dsl-modal .version {
    text-align: right;
    opacity: 0.5;
    white-space: nowrap;
}

.dsl-modal .labels {
    opacity: 0.5;
}

.yaml-code {
    overflow: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 100px;
}

.pf-c-popover__footer {
    overflow-wrap: anywhere;
}

.pf-c-backdrop .pf-c-tabs__item.pf-m-current {
    --pf-c-tabs__link--after--BorderColor: #fca338;
}

.karavan .pf-c-button {
    --pf-c-button--m-primary--hover--BackgroundColor: #fb8824;
    --pf-c-button--m-primary--focus--BackgroundColor: #fb8824;
    --pf-c-button--m-primary--active--BackgroundColor: #fb8824;
}

.karavan .pf-c-select__menu-item-icon {
    color: #fb8824;
}

.karavan .pf-c-select__menu-wrapper:hover, .karavan .pf-c-select__menu-item:hover {
    background-color: #fca338;
}

/*Beans*/
.karavan .beans-page {
    flex: 1 1;
    overflow: auto;
}
.karavan .beans-page-columns {
    height: 100%;
    background: #fafafa;
    display: flex;
    flex-direction: row;
}

.karavan .beans-panel {
    padding: 16px;
    display: block;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: auto;
}
.karavan .beans-page .add-button-div {
    width: 100%;
    margin-top: 16px;
    display: flex;
}

.karavan .beans-page .add-bean-button {
    margin: auto;
}

.karavan .beans-page .bean-card-selected {
    border-color: rgb(48, 50, 132);
    background-color: rgb(171, 172, 224, 0.1);
}

.karavan .beans-page .bean-card-unselected {
    border-color: #fb8824;
    background-color: transparent;
}

.karavan .beans-page .bean-card,
.karavan .beans-page .bean-card:hover {
    border-radius: 20px;
    border-width: 1px;
    border-style: dotted;
    box-shadow: none;
}

.karavan .beans-page .bean-card .pf-c-card__header {
    padding-right: 6px;
    word-wrap:anywhere;
}

.karavan .beans-page .bean-card .pf-c-card__body {
    word-wrap:anywhere;
}

.karavan .beans-page .bean-card .icon {
    height: 24px;
}

.karavan .beans-page .bean-card .delete-button {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 14px;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    color: #909090;
    visibility: hidden;
}

.karavan .beans-page .bean-card:hover .delete-button {
    visibility: visible;
}

.karavan .beans-page .properties .bean-properties .pf-c-form__group-control {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.karavan .beans-page .properties .bean-property {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.karavan .beans-page .properties .bean-property .delete-button {
    padding: 3px;
    color: #b1b1b7;
    font-size: 13px;
}

.karavan .templates-page,
.karavan .exception-page,
.karavan .error-page,
.karavan .rest-page {
    flex: 1;
    overflow: auto;
}

.karavan .templates-page-columns,
.karavan .exception-page-columns,
.karavan .error-page-columns,
.karavan .rest-page-columns {
    height: 100%;
    background: #fafafa;
}

.karavan .templates-page-columns .pf-c-empty-state,
.karavan .exception-page-columns .pf-c-empty-state,
.karavan .error-page-columns .pf-c-empty-state,
.karavan .rest-page-columns .pf-c-empty-state {
    margin: auto;
    height: 100%;
}