.disabled {
    opacity: 0.5;
}
.menu-button {
    position: absolute;
    top: 26px;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: 0 0 0 10px;
    background: transparent;
    color: var(--pf-v5-global--primary-color--100);
    visibility: hidden;
}

.dsl-element:hover .menu-button {
    visibility: visible;
}
