.karavan .topology-panel .pf-v5-c-toolbar {
    padding-bottom: 0;
}

.karavan .topology-panel .pf-v5-c-toolbar .pf-v5-c-toolbar__group{
    width: 100%
}

.karavan .topology-panel .properties-header {
    padding: 10px;
}

.karavan .topology-panel .common-node .icon {
    height: 32px;
    width: 32px;
}

.karavan .topology-sidebar .pf-topology-side-bar__header {
    margin-right: 0;
}

.karavan .topology-toolbar {
    padding: 0;
}

.karavan .topology-sidebar {
    overflow: hidden;
}

.karavan .topology-sidebar .pf-topology-side-bar__dismiss {
    display: none;
}

.karavan .pf-topology-side-bar > .pf-topology-side-bar__header + * {
    margin-top: 0;
}

.karavan .topology-sidebar .properties .pf-v5-c-form {
    pointer-events: none;
    opacity: 0.7;
}