
.karavan .refresher {
    width: 34px;
    height: 34px;
}

.karavan .refresher .spinner {
    position: absolute;
    width: 34px;
    height: 34px;
}

.karavan .refresher .button {
    position: absolute;
    width: 34px;
    height: 34px;
    padding: 0;
    font-size: 16px;
}

.karavan .refresher .button .pf-v6-c-button__icon {
    margin: 0;
}

.karavan .main-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.karavan .main-toolbar .main-run-button .pf-v6-svg {
    margin-right: 5px;
}

.karavan .main-toolbar .main-run-dropdown-toggle .pf-v6-c-menu-toggle__button:last-child {
    padding-left: 0;
    padding-right: 0;
}

.karavan .main-toolbar .try-out-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.karavan .main-toolbar .try-out-button .pf-v6-c-button__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.karavan .main-toolbar .pf-m-disabled .tryout-icon {
    opacity: 0.5;
}
.karavan .main-toolbar .tryout-icon {
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
}