

#root {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.karavan .pf-c-page__main {
  overflow: hidden;
}

.karavan .login-logo {
  width: 300px;
}

.logo,
.logo svg {
  height: 48px;
  width: unset;
}

.karavan .nav-buttons {
  background: var(--pf-c-page__header--BackgroundColor);
}

.karavan .nav-buttons .logo {
  margin-top: 16px;
  margin-bottom: 10px;
  width: 32px;
  height: 32px;
}

.karavan .nav-buttons .pf-c-button {
  padding: 0;
  width: 64px;
  height: 64px;
  color: var(--pf-global--Color--light-100);
}

.karavan .nav-buttons .pf-c-button svg {
  width: 24px;
}

.karavan .nav-buttons .avatar {
  width: 32px;
  height: 32px;
  margin-bottom: 6px;
  border: solid var(--pf-global--Color--light-100) 1px;
  background-color: var(--pf-global--Color--light-100);
  border-radius: 32px;
  padding: 6px;
}

.karavan .nav-buttons .pf-c-button.pf-m-plain {
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: transparent;
  border-radius: 0;
}

.karavan .nav-button-selected .pf-c-button.pf-m-plain {
  border-left-color: var(--pf-global--active-color--400);
  background-color: var(--pf-global--BackgroundColor--dark-400);
}

.karavan .kamelet-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.karavan .kamelets-page {
  overflow: auto;
  flex-shrink: unset;
  flex-grow: 1;
}

.karavan .integration-card .pf-c-card__footer {
  text-align: end;
}

.karavan .integration-card .running{
  color: green;
  font-weight: bold;
}

.karavan .integration-card .error{
  color: red;
  font-weight: bold;
}

.karavan .integration-card .normal{
  color: initial;
  font-weight: initial;
}

/*Projects*/

.karavan .tools .pf-c-button {
  font-size: 14px;
}

.karavan .projects-page .icon {
  height: 16px;
  width: 16px;
  margin: auto;
}

.karavan .projects-page .pf-m-link {
  font-size: 14px;
}

.karavan .project-page .project-page-section {
  background-color: white;
}

.karavan .project-page .pf-c-description-list__group {
  min-height: 30px;
}

.karavan .project-page .pf-c-tabs__link,
.karavan .project-page .pf-m-link {
  font-size: 14px;
}

.karavan .project-page .pf-c-description-list__text {
  font-size: 15px;
}

.karavan .project-page .table {
  margin-top: 16px;
}

.karavan .project-page .project-button {
  width: 100px;
}

.karavan .project-page .badge-env-up {
  background-color: rgb(56, 129, 47);
  color: white;
}

.karavan .project-page .pipeline {
  background-color: #f5f5f5;
  border-radius: 24px;
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
  padding-right: 8px;
  padding-left: 8px;
}

.karavan .project-page .pipeline-running {
  background-color: rgb(139, 193, 247);
}

.karavan .project-page .pipeline-succeeded {
  background-color: rgb(56, 129, 47);
  color: white;
}

.karavan .project-page .env-chart {
  font-size: 18px;
}

.karavan .project-page .pipeline-failed {
  background-color: #C9190B;
  color: white;
}

.karavan .project-page .replicas-ready {
  background-color: rgb(56, 129, 47);
  color: white;
}

.karavan .project-page .health-up {
  background-color: rgb(56, 129, 47);
  color: white;
}

.karavan .project-page .pipeline .pf-c-progress-stepper__step-main {
  display: none;
}

.karavan .project-page .project-properties .delete-cell {
  padding: 0;
  margin: 0;
  min-width: 0;
}
.karavan .project-page .project-properties .delete-button {
  padding: 0 0 0 6px;
  margin: 0;
}

.karavan .project-page  .pf-c-label__icon {
  height: 16px;
}

.karavan .action-cell {
  padding: 0;
}

.karavan .runtime-badge {
  min-width: 18px;
  padding: 0;
}

.create-file-form .pf-c-form__group {
    grid-template-columns: 80px 1fr !important;
}

.logo-tooltip {
  margin-left: 16px;
}

.karavan .pf-c-code-block__code {
  overflow-wrap: anywhere;
}