

#root {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.karavan .pf-c-page__main {
  overflow: hidden;
}
.logo,
.logo svg {
  height: 48px;
  width: unset;
}

.karavan .nav-buttons {
  background: var(--pf-c-page__header--BackgroundColor);
}

.karavan .nav-buttons .logo {
  margin-top: 16px;
  margin-bottom: 10px;
  width: 32px;
  height: 32px;
}

.karavan .nav-buttons .pf-c-button {
  padding: 0;
  width: 64px;
  height: 64px;
  color: var(--pf-global--Color--light-100);
}

.karavan .nav-buttons .pf-c-button svg {
  width: 24px;
}

.karavan .nav-buttons .pf-c-avatar {
  width: 32px;
  height: 32px;
  margin-bottom: 6px;
}

.karavan .nav-buttons .pf-c-button.pf-m-plain {
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: transparent;
  border-radius: 0;
}

.karavan .nav-button-selected .pf-c-button.pf-m-plain {
  border-left-color: var(--pf-global--active-color--400);
  background-color: var(--pf-global--BackgroundColor--dark-400);
}

.karavan .kamelet-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.karavan .kamelets-page {
  overflow: auto;
  flex-shrink: unset;
  flex-grow: 1;
}

.karavan .integration-card .pf-c-card__footer {
  text-align: end;
}

.karavan .integration-card .running{
  color: green;
  font-weight: bold;
}

.karavan .integration-card .error{
  color: red;
  font-weight: bold;
}

.karavan .integration-card .normal{
  color: initial;
  font-weight: initial;
}

.karavan .projects-page .icon {
  height: 16px;
  width: 16px;
  margin: auto;
}

.karavan .project-page .table {
  margin-top: 16px;
}

.karavan .action-cell {
  padding: 0;
}

.karavan .runtime-badge {
  width: 75px;
}

.create-file-form .pf-c-form__group {
    grid-template-columns: 80px 1fr !important;
}

.logo-tooltip {
  margin-left: 16px;
}