.karavan .tools-section {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0;
    border-bottom: 1px solid #eee;
}

.karavan .tools-section .dsl-title {
    display: flex;
    flex-direction: row;
}

.karavan .tools-section .dsl-title .title {
    margin-right: 16px;
}

.karavan .brand {
    height: 36px;
}

.karavan .header-button {
    margin-left: var(--pf-c-page__header-tools--MarginRight);
}

.karavan .page-header {
    display: flex;
    justify-content: space-between;
}

.karavan .page-header .top-toolbar .pf-c-page__header-tools{
    margin-right: 0;
}
.karavan .page-header .top-toolbar {
    width: 100%;
}

.karavan .page-header .pf-c-page__header-brand {
    padding-right: 16px;
}

.karavan .main-alert {
    position: fixed;
    width: 500px;
    height: 90px;
    left: 50%;
    margin-top: 20px;
    margin-left: -250px;
}

.filler {
    width: 100%;
}

.modal-footer {
    width: 100%;
}

.modal-footer .deploy-buttons .pf-c-form__actions {
    justify-content: flex-end;
    margin-top: 16px;
}

.modal-footer .deploy-buttons .pf-c-button {
    margin-left: 16px;
}

.action-buttons .pf-c-form__actions {
    justify-content: flex-end;
    margin-top: 16px;
}

.action-buttons .pf-c-button {
    margin-left: 16px;
}

.pf-c-modal-box__footer .hidden {
    display: none;
}

.upload-buttons .pf-c-form__actions {
    margin-top: 20px;
    justify-content: flex-end;
}

/*integration page*/
.integration-page .integration-card {
    cursor: pointer;
    height: 160px;
}

.integration-page .integration-card .pf-c-card__header {
    padding-right: 6px;
}

.integration-page .integration-card .icon {
    height: 24px;
}

.integration-page .integration-card .delete-button {
    font-size: 17px;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    color: #b1b1b7;
    visibility: hidden;
}

.integration-page .integration-card:hover .delete-button {
    visibility: visible;
}

/*kamelets*/
.kamelets-page .kamelet-card {
    cursor: pointer;
    height: 160px;
}

.kamelets-page .kamelet-card .pf-c-card__header {
    padding-right: 6px;
}

.kamelets-page .kamelet-card .pf-c-card__body {
    overflow: hidden;
    position: relative;
}

.kamelets-page .kamelet-card .kamelet-icon {
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*kamelet modal*/
.kamelet-modal-card .pf-c-card__header {
    padding-right: 6px;
    display: flex;
    justify-content: space-between;
}

.kamelet-modal-card .pf-c-card__title {
    font-weight: 600;
}

.kamelet-modal-card .description {
    overflow: hidden;
    position: relative;
    max-width: 600px;
}

.kamelet-modal-card .kamelet-icon {
    height: 36px;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*DSL*/
.karavan .dsl-page {
    height: 100%;
    overflow: hidden;
}

.karavan .dsl-page .dsl-page-columns {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/*Properties*/
.karavan .dsl-page .properties {
    border: 1px solid #eee;
    padding: 10px 10px 10px 10px;
    font-size: 13px;
    background: #fcfcfc;
    width: 450px;
    height: 94%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.karavan .dsl-page .properties .headers {
    grid-row-gap: 10px;
    row-gap: 10px;
    display: contents;
}

.karavan .dsl-page .properties .footer {
    height: 100%;
    display: contents;
}

.karavan .dsl-page .properties .pf-c-form {
    row-gap: 10px;
}

.karavan .dsl-page .properties .pf-c-form__group-label {
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
}

.karavan .dsl-page .properties .pf-c-form__label {
    font-size: 13px;
}

.karavan .dsl-page .properties .text-field {
    font-size: 13px;
    height: auto;
}

.karavan .dsl-page .properties .expression-title {
    font-size: 17px;
    font-weught: bold;
}

.karavan .dsl-page .properties .text-area {
    font-size: 13px;
}

.karavan .dsl-page .properties .pf-c-select__menu-search {
    padding: 0px 6px 6px 6px;
}

.karavan .dsl-page .properties .pf-c-select__toggle-typeahead {
    font-size: 13px;
    height: auto;
}

.karavan .dsl-page .properties .pf-c-select__menu-item {
    width: 280px;
    font-size: 15px;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*line-height: 12px;*/
}

.karavan .dsl-page .properties .number {
    display: flex;
    justify-content: space-between;
}

.karavan .dsl-page .properties .number .number-property {
    width: 100%;
}

.karavan .dsl-page .properties .number .clear-button {
    color: #b1b1b7;
    --pf-c-button--BorderRadius: var(--pf-c-button--m-control--BorderRadius);
    --pf-c-button--disabled--BackgroundColor: var(--pf-c-button--m-control--disabled--BackgroundColor);
    --pf-c-button--after--BorderWidth: var(--pf-c-button--m-control--after--BorderWidth);
    --pf-c-button--after--BorderColor: var(--pf-c-button--m-control--after--BorderTopColor) var(--pf-c-button--m-control--after--BorderRightColor) var(--pf-c-button--m-control--after--BorderBottomColor) var(--pf-c-button--m-control--after--BorderLeftColor);
    color: var(--pf-c-button--m-control--Color);
    background-color: var(--pf-c-button--m-control--BackgroundColor);
    padding-left: 5px;
    padding-right: 5px;
}

.karavan .dsl-page .properties .help-button {
    font-size: 12px;
}

.karavan .dsl-page .properties .component-selector {
    border-width: var(--pf-global--BorderWidth--sm);
    border-top-color: var(--pf-global--BorderColor--300);
    border-right-color: var(--pf-global--BorderColor--300);
    border-bottom-color: var(--pf-global--BorderColor--200);
    border-left-color: var(--pf-global--BorderColor--300);
    border-style: solid;
}

.karavan .dsl-page .properties .expression,
.karavan .dsl-page .properties .parameters {
    padding-top: 6px;
    padding-left: 16px;
    grid-row-gap: 10px;
    row-gap: 10px;
    display: grid;
}

.karavan .dsl-page .properties .expression .pf-c-form__group-label,
.karavan .dsl-page .properties .parameters .pf-c-form__group-label {
    font-weight: 100;
}

.karavan .dsl-page .properties .expression .pf-c-form__group {
    margin-bottom: 10px;
}

.karavan .dsl-page .properties .expression .pf-c-select__menu-wrapper {
    width: 350px;
}

.karavan .dsl-page .flows {
    display: block;
    flex-direction: column;
    font-size: 13px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 100px;
    position: relative;
}

.karavan .dsl-page .flows .connections {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 13;
}

.karavan .dsl-page .flows .connections .incoming {
    border-color: #e97826;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    background: #fff;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 6px;
    display: flex;
}

.karavan .dsl-page .flows .connections .outgoing {
    border-color: #e97826;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    background: #fff;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 1px;
    display: flex;
}

.karavan .dsl-page .flows .connections .incoming .icon,
.karavan .dsl-page .flows .connections .outgoing .icon {
    height: 36px;
    margin: auto;
}

.karavan .dsl-page .flows .connections .path {
     stroke: #e97826;
     stroke-width: 1;
     fill: none;
}

.karavan .dsl-page .flows .connections path{
    stroke-dasharray: 5;
    -webkit-animation: dashdraw .5s linear infinite;
    animation: dashdraw .5s linear infinite;
}
@keyframes dashdraw{0%{stroke-dashoffset:10}}


.karavan .dsl-page .flows .step-element {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-color: #e97826;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    background: #fff;
    min-width: 160px;
    min-height: 73px;
    padding: 4px 10px;
    position: relative;
}

.karavan .dsl-page .flows .step-element .header {
    display: block;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 101;
}

.element-builder {
    min-width: 160px;
    min-height: 65px;
    border-color: #e97826;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: 4px 6px 0px 6px;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    width: fit-content;
}

.element-builder .header {
    display: block;
    justify-content: center;
    position: relative;
    margin-bottom: 6px;
}

.step-element .header .delete-button,
.element-builder .header .delete-button {
    position: absolute;
    top: 0;
    right: -5px;
    font-size: 13px;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    color: #b1b1b7;
    visibility: hidden;
}

.step-element:hover .header .delete-button,
.element-builder:hover .header .delete-button {
    visibility: visible;;
}

.step-element .header .icon,
.element-builder .header .icon {
    height: 16px;
    width: auto;
    border: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.dsl-page .add-flow-button {
    margin-top: 26px;
    font-size: 15px;
    line-height: 1;
    border: 0;
    padding: 0;
    background: transparent;
    color: #e97826;
}

.step-element .arrow-down {
    font-size: 13px;
    /*margin-top: -10px;*/
    /*margin-bottom: -15px;*/
    height: 16px;
    color: #e97826;
}

.step-element .add-button {
    top: 0;
    right: 5px;
    font-size: 15px;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: 3px 0 0 0;
    background: transparent;
    color: #e97826;
    visibility: hidden;
}

.element-builder .add-button {
    top: 0;
    right: 5px;
    font-size: 15px;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: 3px auto 0 auto;
    background: transparent;
    color: #e97826;
    visibility: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 16px;
}

.element-builder .add-button svg {
    margin: 0 auto 3px auto;
}


.element-builder:hover .add-button,
.step-element:hover .add-button {
    visibility: visible;
}

.dsl-gallery {
    margin-top: 16px;
}

.dsl-modal {
    height: 80%;
}

.dsl-modal .dsl-card {
    cursor: pointer;
}

.dsl-modal .dsl-card .icon {
    height: 16px;
    width: auto;
    border: none;
    margin-right: 6px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.yaml-code {
    overflow: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 100px;
}