.karavan .complexity .top-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}
.karavan .complexity svg {
    vertical-align: middle;
}

/*.karavan .complexity .complexity-easy .pf-v6-c-label__icon {*/
/*    fill: var(--pf-t--global--icon--color--disabled);*/
/*    color: var(--pf-t--global--text--color--disabled);*/
/*}*/

/*.karavan .complexity .complexity-normal .pf-v6-c-label__icon {*/
/*    fill: var(--pf-t--global--icon--color--status--success--default);*/
/*    color: var(--pf-t--global--icon--color--status--success--default);*/
/*}*/

/*.karavan .complexity .complexity-complex .pf-v6-c-label__icon {*/
/*    fill: var(--pf-v6-c-label--m-orange__icon--Color);*/
/*    color: var(--pf-v6-c-label--m-orange__icon--Color);*/
/*}*/

.karavan .complexity .complexity-label {
    .pf-v6-c-label__icon {
        margin-right: 2px;
    }
}

.karavan .files-table .icon {
    height: 16px;
    width: 16px;
}

.karavan .files-table .icon-docker {
    fill: #0db7ed;
}