.karavan .karavan-designer-view-switcher {
    position: absolute;
    width: 125px;
    right: 1px;
    top: 1px;
    z-index: 100;

    .pf-v6-c-menu {
        .pf-v6-c-menu__content {
            row-gap: 0;
        }

        .pf-v6-c-menu__item {
            padding-block-start: var(--pf-t--global--spacer--xs);
            padding-block-end: var(--pf-t--global--spacer--xs);
            padding-inline-start: var(--pf-t--global--spacer--sm);
            padding-inline-end: var(--pf-t--global--spacer--sm);
            border-bottom: 1px solid var(--pf-t--global--border--color--50);

            .pf-v6-c-menu__item-description {
                max-width: 300px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}