.karavan .karavan-container-button-down {
    background-color: var(--pf-t--global--color--nonstatus--gray--default);
    color: var(--pf-v6-c-button--m-control--Color);
}

.karavan .karavan-container-button-up {
    background-color: var(--pf-t--global--color--nonstatus--green--default);
    color: var(--pf-t--color--gray--95);
}

.karavan .karavan-container-button-up::after {
    border-color: var(--pf-t--global--color--status--success--100);
}

.karavan .karavan-container-button-icon-up {
    color: var(--pf-t--global--color--status--success--100);
    animation: steam 1.5s linear infinite;
}


@keyframes steam {
    0% {
        color: var(--pf-t--color--green--20);
        border-color: var(--pf-t--global--color--status--success--100);
    }
    50% {
        color: var(--pf-t--color--green--40);
        border-color: var(--pf-t--global--color--status--success--200);
    }
    100% {
        color: var(--pf-t--color--green--60);
        border-color: var(--pf-t--global--icon--color--status--success--default);
    }
}