.designer-switch {
    --pf-v6-c-tabs__link--BackgroundColor: var(--pf-v6-c-tabs__link--hover--BackgroundColor);
    .pf-v6-c-tabs__item {
        padding-left: 2px;
        padding-right: 2px;
    }
    .pf-v6-c-tabs__link::before {
        /*content: "";*/
        /*position: absolute;*/
        /*right: 0;*/
        /*bottom: 0;*/
        /*left: 0;*/
        /*border: solid;*/
        /*border-bottom-color: var(--pf-t--global--border--color--default);*/
    }
    .switch-selected .pf-v6-c-tabs__link {
        color: var(--pf-t--global--color--brand--default);
        border: 1px solid var(--pf-t--global--color--brand--default);
    }
}
.designer-switch::before {
    display: none;
}