/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *//*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*DSL*/
.karavan .dsl-page {
    height: 100%;
}

.karavan .dsl-page .dsl-page-columns {
    display: block;
    height: 100%;
    padding-bottom: 66px;
}

.karavan .top-icon {
    height: 24px;
}

.karavan .designer-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.karavan .designer-page .project-page-section {
    /*background-color: white;*/
}

.karavan .page .main-tabs-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.karavan .page .main-tabs-wrapper::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid;
    border-bottom-color: var(--pf-t--global--border--color--default);
}

.karavan .page .main-tabs-wrapper .main-tabs .top-menu-item {
    display: flex;
    flex-direction: row;
}

.karavan .page .main-tabs-wrapper .main-tabs .top-menu-item .count {
    /*color: white;*/
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 0px;
}

.karavan .page .main-tabs-wrapper .main-tabs .pf-v6-c-tabs__link .pf-v6-c-tabs__item-icon {
    height: 24px;
    margin-right: 0;
}

.karavan .page .main-tabs-wrapper .main-tabs .pf-v6-c-tabs__item-text {
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
}

.karavan .designer-page .page .main-tabs-wrapper .hide-log {
    white-space: nowrap;
    margin-right: 16px;
}

.karavan .pf-v6-c-drawer__splitter {
    width: 2px;
    /*background-color: #fcfcfc;*/
}

.karavan .pf-v6-c-drawer__splitter-handle {
    display: none;
}

/*Graph*/
.karavan .dsl-page .graph {
    display: block;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: auto;
}

.karavan .dsl-page .flows {
    width: 100%;
    position: absolute;
    padding-bottom: 66px;
}

.karavan .dsl-page .flows .add-flow {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.karavan {
    --step-border-color: var(--pf-t--global--text--color--subtle);
    --step-border-color-selected: var(--pf-t--global--color--brand--default);
}

.karavan .dsl-page .flows .children {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-wrap: nowrap;
    gap: 6px;
}

.karavan .dsl-page .flows .has-child {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 6px;
}

.karavan .dsl-page .flows .hidden-step {
    display: none;
}


.resize-handler {
    /*background-color: var(--pf-v6-global--BorderColor--100);*/
    width: 1px;
}