/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.karavan .project-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.karavan .project-page .scrollable-out {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.karavan .project-page .scrollable-in {
    overflow: auto;
    flex-shrink: unset;
    flex-grow: 1;
    margin-bottom: 100px;
}

.karavan .project-title {
    flex: 1;
    .pf-v6-l-flex.pf-m-column > * {
        margin-bottom: 0;
    }
    .pf-v6-c-clipboard-copy {
        width: fit-content;
        .pf-v6-c-button {
            padding: 0;
        }
    }
}

.karavan .project-page .tools-section {
    border-bottom: 1px solid #eee;
}

.karavan .project-page .project-tabs {
    background-color: white;
}

.karavan .project-page .description-align-center .pf-v6-c-description-list__group {
    min-height: 30px;
    align-items: center;
}

.karavan .project-page .pf-v6-c-tabs__link,
.karavan .project-page .pf-m-link {
    font-size: 14px;
}

.karavan .project-page .project-button {
    width: 100px;
}

.karavan .project-page .badge-env-up {
    background-color: rgb(56, 129, 47);
    color: white;
}

.karavan .project-page .env-chart {
    font-size: 18px;
}

.karavan .project-page .replicas-ready {
    background-color: rgb(56, 129, 47);
    color: white;
}

.karavan .project-page .health-up {
    background-color: rgb(56, 129, 47);
    color: white;
}

.karavan .project-page .project-properties .delete-cell {
    padding: 0;
    margin: 0;
    min-width: 0;
}
.karavan .project-page .project-properties .delete-button {
    padding: 0 0 0 0;
    margin: 0 16px 0 0;
}

.karavan .project-page .pf-v6-c-label__icon {
    height: 16px;
}

.karavan .project-page .pf-v6-c-label__icon svg {
    height: 16px;
}

.karavan .project-page .pf-v6-c-label__icon, .spinner {
    margin-bottom: -2px;
}

.karavan .project-page .badge {
    font-size: 14px;
    font-weight: 400;
    padding: 4px 8px 4px 8px;
    min-width: 70px;
}

.karavan .project-files-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 16px 8px 16px;
    position: relative;
}

.karavan .project-files-toolbar::before {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
    border-bottom: var(--pf-t--global--border--color--default) solid var(--pf-t--global--border--width--box--default);
    border-radius: inherit;
}