<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository/>
    <interactiveMode/>
    <offline/>
    <pluginGroups/>
    <servers/>
    <mirrors>
        <mirror>
            <id>central</id>
            <name>Maven Repository Manager</name>
            <url>https://repo.maven.apache.org/maven2/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
        <mirror>
            <id>karavan</id>
            <name>Maven Repository Manager</name>
            <url>https://nexus.namespace/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    <proxies/>
    <profiles/>
    <activeProfiles/>
</settings>
