.karavan .project-container-context-toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px 16px 8px 16px;
    position: relative;
    text-wrap: nowrap;
}

.karavan .project-container-context-toolbar::before {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
    border-bottom: var(--pf-t--global--border--color--default) solid var(--pf-t--global--border--width--box--default);
    border-radius: inherit;
}

.karavan  .project-container-context-toolbar .group-switch {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    gap: 16px;
}

.karavan  .project-container-context-toolbar .dev-action-button {
    padding-left: 12px;
    padding-right: 12px;
}