/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*Properties*/

.karavan .main-properties {
    width: 100%;
    height: 100%;
    padding-bottom: 64px;
    border-left-color: var(--pf-t--global--border--color--default);
    border-left-style: solid;
    border-left-width: var(--pf-t--global--border--width--box--default);
}

.karavan .main-properties .main-tabs-wrapper .main-tabs .top-menu-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.karavan .main-properties .main-tabs-wrapper .main-tabs .top-menu-item .count {
    background: var(--pf-t--global--color--brand--default);
    color: white;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 0;
}

.karavan .main-properties .main-tabs-wrapper .main-tabs .pf-v6-c-tabs__link .pf-v6-c-tabs__item-icon {
    /*height: 24px;*/
    /*margin-right: 0;*/
}

.karavan .main-properties .main-tabs-wrapper .main-tabs .pf-v6-c-tabs__item-text {
    /*font-weight: bold;*/
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
    /*margin-right: 6px;*/
}

.karavan .main-properties .main-tabs-wrapper .hide-log {
    white-space: nowrap;
    margin-right: 16px;
}

.karavan .properties {
    padding: 8px 8px 8px 8px;
    /*background-color: white;*/
    width: 100%;
    height: 100%;
    overflow: auto;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
}

.karavan .properties .headers {
    grid-row-gap: 8px;
    row-gap: 8px;
    display: contents;
}

.karavan .properties .headers .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
    gap: 8px;
}

.karavan .properties .headers .top h1 {
    /*width: 100%;*/
    margin-top: auto;
    margin-bottom: auto;
    text-wrap: nowrap;
}

.karavan .properties .headers .top .pf-v6-c-switch {
    column-gap: 6px;
}

.karavan .properties .headers .top .description-help-icon {
    /*color: var(--pf-v6-c-form__group-label-help--Color);*/
    cursor: pointer;
}
.karavan .properties .headers .top:hover .description-help-icon {
    color: unset;
}

.karavan .properties .headers .step-type-switch {
    column-gap: 6px;
}


.karavan .properties .footer {
    height: 100%;
    display: contents;
}

.karavan .properties .pf-v6-c-form {
    row-gap: 10px;
    .pf-v6-c-form__group {
        gap: 0.1em;
    }
}

.karavan .properties .pf-v6-c-form__group-label {
    display: flex;
    justify-content: space-between;
    .pf-v6-c-form__group-label-help .pf-v6-c-button {
        padding: 0;
        visibility: hidden;
    }
}

.karavan .properties .component-headers .pf-v6-c-button {
        padding: 0;
}

.karavan .properties .pf-v6-c-form__group:hover {
    .pf-v6-c-form__group-label-help .pf-v6-c-button {
        visibility: visible;
    }
}

.karavan .properties .dsl-property-form-group .pf-v6-c-form__label {
    display: flex;
}

/*ok till there*/

.karavan .properties .pf-v6-c-expandable-section {
    .pf-v6-c-expandable-section__toggle .pf-v6-c-button {
        padding: 1px 0 1px 0;
    }
}
.karavan .properties .pf-m-expanded {}

.karavan .properties .pf-v6-c-form-control:focus-within {
    --pf-v6-c-form-control--after--BorderBottomColor: var(--pf-v6-c-form-control--after--BorderBottomColor);
    --pf-v6-c-form-control--after--BorderBottomWidth: var(--pf-v6-c-form-control--after--BorderBottomWidth);
}

.karavan .properties .pf-v6-c-select {
    --pf-v6-c-select__toggle--FontSize: 14px;
    --pf-v6-c-select__menu-item--FontSize: 14px;
}

.karavan .properties .input-group .pf-v6-c-text-input-group__text {
    width: 100%;
}

.karavan .properties .input-group .pf-v6-c-chip-group,
.karavan .properties .input-group .pf-v6-c-text-input-group__main,
.karavan .properties .input-group .pf-v6-c-chip-group .pf-v6-c-chip-group__list,
.karavan .properties .input-group .pf-v6-c-chip-group .pf-v6-c-chip-group__list .pf-v6-c-chip-group__list-item,
.karavan .properties .input-group .pf-v6-c-chip-group .pf-v6-c-chip-group__main {
    display: block;
}

.karavan .properties .input-group .pf-v6-c-chip-group {
    margin-left: 0;
}

.karavan .properties .input-group .pf-v6-c-chip-group .pf-v6-c-chip .pf-v6-c-chip__text {
    max-width: inherit;
}

.karavan .properties .input-group .pf-v6-c-chip-group .pf-v6-c-chip {
    width: 100%;
}

.karavan .properties .input-group .pf-v6-c-text-input-group__utilities {
    align-items: flex-end;
    margin: auto;
}

.karavan .properties .chip .pf-v6-c-button {
    padding: 4px;
}

.karavan .properties .expression-title {
    font-size: 17px;
    font-weight: bold;
}

.karavan .properties .text-area {
    font-size: 13px;
}

.karavan .properties .pf-v6-c-select__menu-search {
    padding: 0 6px 6px 6px;
}

.karavan .properties .pf-v6-c-select__toggle-typeahead {
    height: auto;
}

.karavan .properties .pf-v6-c-select__menu-item {
    /*width: 280px;*/
}

.karavan .properties .pf-v6-c-select__menu-item-description {
    overflow-wrap: anywhere;
}

.karavan .properties .number {
    display: flex;
    justify-content: space-between;
}

.karavan .properties .number .number-property {
    width: 100%;
}

.karavan .properties .number .clear-button {
    color: #b1b1b7;
    --pf-v6-c-button--BorderRadius: var(--pf-v6-c-button--m-control--BorderRadius);
    --pf-v6-c-button--disabled--BackgroundColor: var(--pf-v6-c-button--m-control--BackgroundColor);
    --pf-v6-c-button--BorderWidth: var(--pf-v6-c-button--m-control--BorderWidth);
    --pf-v6-c-button--BorderColor: var(--pf-v6-c-button--m-control--BorderColor);
    background-color: var(--pf-v6-c-button--m-control--BackgroundColor);
    padding-left: 5px;
    padding-right: 5px;
}

.karavan .properties .help-button {
    font-size: 12px;
}

.karavan .properties .component-selector {
    border-width: var(--pf-t--global--border--width--box--default);
    border-top-color: var(--pf-t--global--border--color--default);
    border-right-color: var(--pf-t--global--border--color--default);
    border-bottom-color: var(--pf-t--global--border--color--default);
    border-left-color: var(--pf-t--global--border--color--default);
    border-style: solid;
}

.karavan .properties .object-value {
    display: flex;
    flex-direction: row;
    /*justify-content: stretch;*/
    /*align-items: center;*/
    padding: 6px 8px 0 0;
    border-width: var(--pf-t--global--border--width--box--default);
    border-color: var(--pf-t--global--border--color--default);
    border-style: solid;
    border-radius: var(--pf-t--global--border--radius--medium);
    position: relative;
}

.karavan .properties .object-key-value .object {
    padding-top: 0;
}

.karavan .properties .object-value .delete-button {
    margin: 0;
    padding: 6px;
    /*height: 16px;*/
    color: var(--pf-t--global--icon--color--status--danger--default);
    position: absolute;
    bottom: 0;
    right: 0;
}
.karavan .properties .object-value .delete-button svg {
    fill:var(--pf-t--global--icon--color--status--danger--default);
}

.karavan .properties .object-key-value,
.karavan .properties .object-key-value .object-field {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.karavan .properties .object-key-value .delete-button {
    margin: auto 0 22px 0;
    padding: 0 0 0 3px;
    height: 16px;
    color: #909090;
}

.karavan .properties .expression,
.karavan .properties .object,
.karavan .properties .dataformat,
.karavan .properties .parameters {
    padding-top: 0;
    padding-left: 8px;
    row-gap: 6px;
    display: grid;
    width: 100%;
}

.karavan .properties .expression .pf-v6-c-form__group-label,
.karavan .properties .object .pf-v6-c-form__group-label,
.karavan .properties .dataformat .pf-v6-c-form__group-label,
.karavan .properties .parameters .pf-v6-c-form__group-label {
    font-weight: 100;
}

.karavan .properties .expression .pf-v6-c-form__group,
.karavan .properties .object .pf-v6-c-form__group,
.karavan .properties .dataformat .pf-v6-c-form__group,
.karavan .properties .parameters .pf-v6-c-form__group {
    margin-bottom: 8px;
}

.karavan .properties .expression .pf-v6-c-select__menu-wrapper,
.karavan .properties .object .pf-v6-c-select__menu-wrapper,
.karavan .properties .dataformat .pf-v6-c-select__menu-wrapper,
.karavan .properties .parameters .pf-v6-c-select__menu-wrapper {
    width: 350px;
}

.karavan .properties .change-button {
    font-size: 15px;
    height: 15px;
    line-height: 1;
    border: 0;
    padding: 0;
    margin: auto auto auto 6px;
    background: transparent;
}

.karavan .properties .change-button svg {
    margin-right: 6px;
}

.karavan .properties .add-button {
    color: var(--pf-t--global--color--brand--default);
}

.karavan .properties .delete-button {
    color: var(--pf-t--global--icon--color--status--danger--default);
}

.karavan .properties .pf-v6-c-expandable-section__toggle {
    margin: 0;
    padding: 0;
}

.karavan .properties .pf-v6-c-expandable-section__content {
    margin: 0;
}

.karavan .properties .pf-v6-c-expandable-section__content p {
    min-height: 6px;
}

.karavan .properties .header-menu-toggle {
    padding-left: 6px;
    padding-right: 0;
}

.karavan .properties .component-headers {
    margin-left: 24px;
}

.karavan .properties .component-headers .pf-v6-c-clipboard-copy.pf-m-inline {
    background-color: transparent;
}

.karavan .properties .value-changed {
    /*box-shadow: gold 0px 0px 0px 2px;*/
    /*border-radius: 3px;*/
}

.karavan .properties .value-changed-label {
    background-color: var(--pf-t--global--color--nonstatus--yellow--default);
    color: var(--pf-t--color--gray--95);
    padding: 0 2px 0 2px;
    transition: background-color 0.5s ease;
}

.karavan .properties .value-sensitive-invalid {
    background-color: var(--pf-t--global--icon--color--status--danger--default);
}
.karavan .properties .property-selector-group .property-selector .pf-v6-c-toggle-group__button:before {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
}

.karavan .properties .property-selector .pf-v6-c-toggle-group__button {
    padding-left: 6px;
    padding-right: 6px;
}


