.karavan .right-panel {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    overflow: hidden;
    background: var(--pf-t--color--gray--95);
}
.karavan .right-panel .right-panel-top {
    height: 64px; /* or whatever fixed height you want */
    flex-shrink: 0;
}

.karavan .right-panel .right-panel-wrapper {
    flex: 1 1 auto;
    overflow-y: auto;
    /*padding: 16px;*/
    flex-grow: 2;
    background: var(--pf-t--global--background--color--primary--default);
    border-top-left-radius: var(--pf-t--global--border--radius--300);
}

.pf-v6-theme-dark .karavan .right-panel .right-panel-wrapper {
    background: var(--pf-t--color--gray--90);
}

.karavan .right-panel .right-panel-wrapper .right-panel-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}