.karavan .topology-panel .topology-beans-card {
    position: absolute;
    top: 6px;
    right: 6px;
}

.karavan .topology-panel .topology-beans-card .pf-v5-c-card__title {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.karavan .topology-panel .topology-beans-card .card-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px 10px 10px;
}

.karavan .topology-panel .topology-beans-card .pf-v5-c-label {
    background-color: white;
}

.karavan .topology-panel .topology-beans-card .pf-v5-c-label__content::before {
    border-radius: 4px;
}
.karavan .topology-panel .topology-beans-card .bean-button {
    padding: 0;
    display: flex;
}

.karavan .topology-panel .topology-beans-card .pf-v5-c-badge {
    min-width: 32px;
    font-weight: normal;
}

.karavan .topology-panel .topology-beans-card .pf-v5-c-label__icon {
    height: unset;
}

.karavan .topology-panel .topology-beans-card .bean-button .pf-v5-c-button__icon {
    margin-top: auto;
    margin-bottom: auto;
    height: 16px;
    width: 16px;
}