.karavan .topology-panel .topology-legend-card {
    position: absolute;
    bottom: 6px;
    right: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.karavan .topology-panel .topology-legend-card .pf-v6-c-card__title {
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-left: 3px;
}

.karavan .topology-panel .topology-legend-card .card-body {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px 10px 10px 10px;
}

.karavan .topology-panel .topology-legend-card .pf-v6-c-label {
    border-width: 1px;
    border-style: solid;
}

.karavan .topology-panel .topology-legend-card .pf-v6-c-label__content::before {
    background: var(--pf-topology__node__background--Fill);
}

.karavan .topology-panel .topology-legend-card .orange {
    border-color: var(--pf-t--color--orange--40);
}

.karavan .topology-panel .topology-legend-card .route-template {
    border-style: dashed;
}

.karavan .topology-panel .topology-legend-card .blue {
    border-color: var(--pf-t--color--blue--40);
}

.karavan .topology-panel .topology-legend-card .green {
    border-color: var(--pf-t--color--green--40);;
}

.karavan .topology-panel .topology-legend-card .pf-v6-c-label__content {
    gap: 3px;
}

.karavan .topology-panel .topology-legend-card .pf-v6-c-badge {
    min-width: 32px;
    font-weight: normal;
}

.karavan .topology-panel .topology-legend-card .pf-v6-c-label__icon {
    height: 16px;
    width: 16px;
    margin: 0 0 0 0;
}

.karavan .topology-panel .topology-legend-card .pf-v6-c-label__icon svg{
    height: 16px;
    width: 16px;
    margin: 0;
}