.karavan .topology-panel .topology-legend-card {
    position: absolute;
    bottom: 6px;
    right: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.karavan .topology-panel .topology-legend-card .pf-v5-c-card__title {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.karavan .topology-panel .topology-legend-card .card-body {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px 10px 10px 10px;
}

.karavan .topology-panel .topology-legend-card .pf-v5-c-label {
    background-color: white;
    /*border-color: #ef9234;*/
}
.karavan .topology-panel .topology-legend-card .orange .pf-v5-c-label__content::before {
    border-color: #ef9234;
}

.karavan .topology-panel .topology-legend-card .route-template .pf-v5-c-label__content::before {
    border-style: dashed;
}

.karavan .topology-panel .topology-legend-card .blue .pf-v5-c-label__content::before {
    border-color: #2b9af3;
}

.karavan .topology-panel .topology-legend-card .green .pf-v5-c-label__content::before {
    border-color: #6ec664;
}

.karavan .topology-panel .topology-legend-card .pf-v5-c-label__content::before {
    border-radius: 4px;
}

.karavan .topology-panel .topology-legend-card .pf-v5-c-badge {
    min-width: 32px;
    font-weight: normal;
}

.karavan .topology-panel .topology-legend-card .pf-v5-c-label__icon {
    height: unset;
}