/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.karavan .project-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.karavan .project-page .scrollable-out {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.karavan .project-page .scrollable-in {
    overflow: auto;
    flex-shrink: unset;
    flex-grow: 1;
    margin-bottom: 100px;
}

.karavan .project-title {
    flex: 1;
    .pf-v6-l-flex.pf-m-column > * {
        margin-bottom: 0;
    }
    .pf-v6-c-clipboard-copy {
        width: fit-content;
        .pf-v6-c-button {
            padding: 0;
        }
    }
}

.karavan .project-page .tools-section {
    border-bottom: 1px solid #eee;
}

.karavan .project-page .project-tabs {
    background-color: white;
}

.karavan .project-page .description-align-center .pf-v6-c-description-list__group {
    min-height: 30px;
    align-items: center;
}

.karavan .project-page .pf-v6-c-tabs__link,
.karavan .project-page .pf-m-link {
    font-size: 14px;
}

.karavan .project-page .project-button {
    width: 100px;
}

.karavan .project-page .badge-env-up {
    background-color: rgb(56, 129, 47);
    color: white;
}

.karavan .project-page .env-chart {
    font-size: 18px;
}

.karavan .project-page .replicas-ready {
    background-color: rgb(56, 129, 47);
    color: white;
}

.karavan .project-page .health-up {
    background-color: rgb(56, 129, 47);
    color: white;
}

.karavan .project-page .project-properties .delete-cell {
    padding: 0;
    margin: 0;
    min-width: 0;
}
.karavan .project-page .project-properties .delete-button {
    padding: 0 0 0 0;
    margin: 0 16px 0 0;
}

.karavan .project-page .pf-v6-c-label__icon {
    height: 16px;
}

.karavan .project-page .pf-v6-c-label__icon svg {
    height: 16px;
}

.karavan .project-page .badge {
    font-size: 14px;
    font-weight: 400;
    padding: 4px 8px 4px 8px;
    min-width: 70px;
}

.karavan .project-files-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 16px 8px 16px;
    position: relative;
}

.karavan .project-files-toolbar::before {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
    border-bottom: var(--pf-t--global--border--color--default) solid var(--pf-t--global--border--width--box--default);
    border-radius: inherit;
}

.karavan .project-page .runtime-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap: 16px;

    .runtime-element {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
}

.karavan .project-page-navigation {
    gap: 16px;
    .pf-v6-c-nav__link {
        align-items: center;
        .pf-v6-c-nav__link-icon {
            display: flex;
            align-items: center;
            /*width: 20px;*/
            /*height: 20px;*/
        }
    }

    .jvm-svg-steam-on {
        height: 20px;
        width: 20px;
        filter: brightness(1.3) contrast(1.3) saturate(2) drop-shadow(0 0 6px #4cc3ff);
        .steam {
            fill: #FF8C26;
            transform-origin: center;
            animation: steam-movement 4s infinite, /* Combined scale and translate */ steam-opacity 4s infinite; /* Opacity */
        }
    }

    .jvm-svg-steam-off {
        height: 20px;
        width: 20px;
        filter: brightness(2) saturate(0);
        animation: none !important;
    }

    .camel-paused {
        filter: saturate(0);
    }

    .rotated-run {
        width: 16px;
        height: 16px;
        color: var(--pf-t--color--green--40);
        /*animation: icon-flashing 1.5s linear infinite;*/
    }
    .rotated-run-forward {
        animation: rotate-icon-forward 1.5s linear infinite
    }

    .rotated-run-backward {
        animation: rotate-icon-backward 1.5s linear infinite,
        icon-flashing 1.5s linear infinite
    }

    .containers-run {
        color: var(--pf-t--global--color--status--success--100);
        animation: icon-flashing 1.5s linear infinite,
        scale-icon 1.5s linear infinite;
    }
}

@keyframes icon-flashing {
    0% {
        color: var(--pf-t--color--green--20);
        border-color: var(--pf-t--global--color--status--success--100);
    }
    50% {
        color: var(--pf-t--color--green--40);
        border-color: var(--pf-t--global--color--status--success--200);
    }
    100% {
        color: var(--pf-t--color--green--60);
        border-color: var(--pf-t--global--icon--color--status--success--default);
    }
}

@keyframes scale-icon {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes rotate-icon-forward {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotate-icon-backward {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes logline {
    0%   { opacity: 0; transform: translateX(-2px); }
    20%  { opacity: 1; transform: translateX(0); }
    80%  { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes steam-movement {
    0% {
        transform: translate(0, 0) scale(1, 1);
    }
    25% {
        transform: translate(0.5px, -1.5px) scale(1.1, 1.3);
    }
    50% {
        transform: translate(-0.3px, -2.2px) scale(0.95, 1.1);
    }
    75% {
        transform: translate(0.1px, -3px) scale(1.25, 1.15);
    }
    100% {
        transform: translate(0, 0) scale(1, 1);
    }
}

@keyframes steam-opacity {
    0% { opacity: 0.7; }
    25% { opacity: 1; }
    50% { opacity: 0.85; }
    75% { opacity: 1; }
    100% { opacity: 0.7; }
}

.popover-file-validation {
    .pf-v6-c-popover__content {
        padding-right: 0;

        .pf-v6-c-popover__body {
            max-height: 50vh;
            overflow-y: auto;

            .pf-v6-c-alert {
                border-width: 1px;
                padding: 6px;
            }
        }

        .pf-v6-c-popover__body > div {
            height: 100%; /* Make the inner div fill the body's space */
            display: flex; /* Keep original display properties for inner layout */
            flex-direction: column;
        }
    }
}
