.root-main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.karavan .loading-page {
    width: 100%;
}
.karavan .loading-page .spinner {
    position: absolute;
}
.karavan .loading-page .logo-placeholder {
    position: absolute;
    height: 100px;
}

.karavan .loading-page .logo {
    height: 100px;
}
