.karavan .project-page .containers-tab {
    display: flex;
    flex-direction: column;
    height: 100%;
    .panel {
        display: flex;
        flex-direction: column;
        height: 100%;
        .pf-v6-c-scroll-outer-wrapper {
            min-height: 200px;
        }
    }
}