.editor-manager {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    border: 1px solid var(--pf-t--global--border--color--default);

    .editor-error {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /*justify-content: flex-start;*/
        gap: 8px;
        section {
            height: 100%;
        }
    }

    .monaco-editor-expandable-section {
        border: none;
        border-radius: 0;

        .pf-v6-c-card__header {
            padding: 4px;
            overflow: hidden;

            .pf-v6-c-card__title-text {
                text-wrap: nowrap;
                width: fit-content;
            }

            .value-changed-label {
                background-color: var(--pf-t--global--color--nonstatus--yellow--default);
                color: var(--pf-t--color--gray--95);
                transition: background-color 0.5s ease;
            }
            .value-exception-label {
                background-color: var(--pf-t--global--icon--color--status--danger--default);
                color: var(--pf-t--color--gray--10);
                transition: background-color 0.5s ease;
            }

            .pf-v6-c-card__header-toggle {
                align-items: center;
                display: flex;
                margin: 0;
                .pf-v6-c-button {
                    padding: 4px;
                    min-width: 16px;
                }
            }

            .pf-v6-c-card__actions {
                margin: 0;
                .marshal-selector {
                    select {
                        padding: 4px 15px 4px 8px;
                    }
                    .pf-v6-c-form-control__utilities {
                        padding: 4px 0 0 0;
                    }
                }
            }
        }
        .pf-v6-c-card__body {
            padding: 0;
        }
    }
    .monaco-editor-expandable-section::before {
        display: none;
        border: none;
    }

    .monaco-editor-expandable-section-expanded {
        padding-bottom: 1px;
        .pf-v6-c-card__expandable-content {
            border: 1px solid var(--pf-t--global--border--color--default);
            border-bottom: 1px solid var(--pf-t--global--border--color--default);
        }
    }

    .monaco-editor-wrapper {
        height: 100%;
    }

    .editor-with-preview {
        position: relative;
        overflow: visible !important;
        height: 100%;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .run-panel {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            padding: 8px;
            border-bottom: 1px solid var(--pf-t--global--border--color--default);

            .pf-v6-c-form-control {
                width: unset;
            }
            .pf-v6-c-content--p {
                margin: 0;
            }
        }

        .editor-panel {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 6px;
        }

        .output-panel {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 6px;
        }

        .input-panel {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 6px;

            .button-bar {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 6px;
                padding: 6px;

                .pf-v6-c-button {
                    padding: 4px;
                    gap: 2px;
                }
            }
        }

        .preview-panel {
            height: 100%;
            width: 100%;


            .wmde-markdown {
                padding: 8px 0 8px 8px;
                overflow: auto;
                height: 100%;
            }
        }
    }

    .resize-handler {
        background-color: var(--pf-t--global--border--color--default);
        width: 3px;
    }
    .resize-handler-horizontal {
        background-color: var(--pf-t--global--border--color--default);
        height: 3px;
    }
}
.tryout-icon {
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
}
