.platform-name-toolbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .platform-name-toolbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1px;

        .powered-by-badge {
            font-size: 12px;
            font-family: var(--pf-t--global--font--family--200);
            padding: 0;
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(to right,
            /*rgba(0, 102, 204, 1) 0%,*/
            /*rgba(67, 148, 229, 1) 25%,*/
            rgb(67, 148, 229),
            rgb(253, 164, 34),
            rgb(253, 164, 34),
            rgb(219, 91, 4)
            );
        }
    }
}


.platform-versions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .pf-v6-c-label {
        padding: 4px;
    }
}

.platform-versions-item {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;

    .platform-version {
        font-size: var(--pf-t--global--font--size--body--sm);
        line-height: var(--pf-t--global--font--size--body--sm);
        color: var(--pf-t--color--gray--30);
    }

    .platform-small-logo {
        width: 12px;
        height: 12px;
    }

    .icon {
        width: 12px;
        height: 12px;
    }
}
