.karavan .right-panel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    overflow: hidden;
}

.karavan .right-panel .right-panel-top {
    height: 64px; /* or whatever fixed height you want */
    flex-shrink: 0;
}

.karavan .right-panel .right-panel-wrapper {
    flex: 1 1 auto;
    overflow-y: auto;
    flex-grow: 2;
}

.karavan .right-panel .right-panel-wrapper .right-panel-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}