.karavan .topology-toolbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px 16px 8px 16px;
    position: relative;
    text-wrap: nowrap;
}

.karavan .topology-toolbar::before {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
    border-bottom: var(--pf-t--global--border--color--default) solid var(--pf-t--global--border--width--box--default);
    border-radius: inherit;
}

.karavan  .topology-toolbar .group-switch {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    gap: 16px;
}

.karavan  .topology-toolbar .dev-action-button {
    padding-left: 12px;
    padding-right: 12px;
}

.karavan .topology-panel .pf-topology-control-bar {
    .pf-v6-c-toolbar {
        padding: 6px;
    }
}

.karavan .topology-panel .properties {
    padding: 16px;
    overflow: auto;
}

.karavan .topology-panel .properties .headers {
    display: none;
}

.karavan .topology-panel .common-node {
    cursor: pointer;
    .validation-icon {
        height: 21px;
        width: 21px;
    }
    .validation-icon-danger {
        color: var(--pf-t--global--icon--color--status--danger--default);
        fill: var(--pf-t--global--icon--color--status--danger--default);
    }
    .validation-icon-pending {
        fill: var(--pf-t--global--color--brand--default);
        color: var(--pf-t--global--color--brand--default);
    }
}

.karavan .topology-panel .common-node .icon {
    height: 32px;
    width: 32px;
}

.karavan .topology-panel .common-node-R {

}

.karavan .topology-panel .pf-v6-c-panel__header {
    padding-bottom: 0;
}

.karavan .topology-panel .file-button {
    padding: 0;
}

.karavan .topology-toolbar .button-icon-k8s {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

.karavan .topology-panel .pf-topology__group .pf-topology__group__background {
    stroke-width: 2px;
    /*stroke-dasharray: 3;*/
}

.karavan .topology-panel .pf-topology__group .pf-topology__node__label__background {
    opacity: 0.5;
}

.karavan .topology-panel .auto-start .badge {
    fill: var(--pf-topology__node__label__background--Fill);
    stroke-width: var(--pf-topology__node__label__background--StrokeWidth);
    stroke: var(--pf-topology__node__label__background--Stroke);
}

.karavan .topology-panel .auto-start .text {
    fill: var(--pf-topology__node__label__text--Fill);
}

.karavan .topology-panel .disable-node {
    opacity: 0.6;
    filter: grayscale(100%);
}

.karavan .pf-topology__node__label__badge > text {
    fill: white;
}

.karavan .topology-panel .common-node-RT .pf-topology__node__background {
    outline: 1px dashed grey;
    outline-offset: 2px;
    border-radius: 9px;
}

.karavan .topology-panel .gen-route-decorator {
    background-color: red;
    circle {
        stroke: var(--pf-t--global--icon--color--status--warning--default);
    }
    svg {
        fill: var(--pf-t--global--icon--color--status--warning--default);
        transform: translate(1px, -1px);
    }
}

.pf-topology__group__label .pf-topology__node__label__background {
    fill: grey;
}

.pf-topology__node.topology-color-component {
    --pf-topology__node__label__background--Stroke: var(--pf-t--global--color--brand--100);
}

.pf-topology__node.topology-color-component .pf-topology__node__background {
    --pf-topology__node__background--Stroke: var(--pf-t--global--color--brand--100);
}

.pf-topology__node.topology-color-kamelet {
    --pf-topology__node__label__background--Stroke: #6ec664;
}

.pf-topology__node.topology-color-kamelet .pf-topology__node__background {
    --pf-topology__node__background--Stroke: #6ec664;
}

.pf-topology__node.topology-color-gen-route {
    .pf-topology__node__background {
        --pf-topology__node__background--Stroke: #ef9234;
    }
    .icon-wrapper svg {
        fill: #ef9234;
    }
}

.pf-topology__edge {
    text,
    .pf-topology__edge__tag__background {
        visibility: hidden;
    }
}
.pf-topology__edge:hover {
    text,
    .pf-topology__edge__tag__background {
        visibility: visible;
    }
}

.karavan .topology-panel .node-metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
    height: 100%;
    .metric {
        font-weight: normal;
    }

    .inflight-color {
        color: var(--pf-t--global--background--color--primary--default);
        background-color: var(--pf-t--global--color--brand--default);
    }

    .failed-color {
        color: var(--pf-t--global--text--color--status--on-danger--default);
        background-color: var(--pf-t--global--color--status--danger--default);
    }
    .total-color {
        color: var(--pf-t--global--text--color--status--on-success--default);
        background-color: var(--pf-t--global--color--status--success--default);
    }
}