.karavan .topology-panel .topology-beans-card {
    position: absolute;
    top: 6px;
    right: 6px;
}

.karavan .topology-panel .topology-beans-card .pf-v6-c-card__title {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.karavan .topology-panel .topology-beans-card .card-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px 10px 10px;
}

.karavan .topology-panel .topology-beans-card .pf-v6-c-label {
    display: flex;
    justify-content: start;
    border-color: var(--pf-t--color--orange--40);
    border-width: 1px;
    border-style: solid;
}

.karavan .topology-panel .topology-beans-card .pf-v6-c-label__content::before {
    background: var(--pf-topology__node__background--Fill);
}

.karavan .topology-panel .topology-beans-card .bean-button {
    padding: 0;
    display: flex;
    background-color: transparent;
}

.karavan .topology-panel .topology-beans-card .pf-v6-c-badge {
    min-width: 32px;
    font-weight: normal;
}

.karavan .topology-panel .topology-beans-card .pf-v6-c-label__icon {
    height: unset;
}

.karavan .topology-panel .topology-beans-card .bean-button .pf-v6-c-button__icon {
    margin-top: auto;
    margin-bottom: auto;
    height: 16px;
    width: 16px;
}