.karavan .nav-buttons {
    background: var(--pf-v5-c-page__header--BackgroundColor);
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.karavan .nav-buttons .pf-v5-c-button svg {
    fill: var(--pf-v5-global--Color--light-100);
}

.karavan .nav-buttons .logo {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 32px;
    height: 32px;
}

.karavan .nav-buttons .pf-v5-c-button {
    padding: 0;
    /*width: 64px;*/
    height: 64px;
    color: var(--pf-v5-global--Color--light-100);
}

.karavan .nav-buttons .pf-v5-c-button svg {
    width: 32px;
}

.karavan .nav-buttons .avatar {
    width: 32px;
    height: 32px;
    margin-bottom: 6px;
    border: solid var(--pf-v5-global--Color--light-100) 1px;
    border-radius: 32px;
    padding: 6px;
    background-color: white;
}

.karavan .nav-buttons .nav-button {
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: transparent;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--pf-v5-global--BackgroundColor--dark-400);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
}

.karavan .nav-buttons .nav-button .pf-v5-c-button__icon.pf-m-start {
    margin-inline-end: initial;
}

.karavan .nav-buttons .nav-button-last {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--pf-v5-global--BackgroundColor--dark-400);
}

.karavan .nav-button-selected .pf-v5-c-button {
    border-left-color: var(--pf-v5-global--active-color--400);
    background-color: var(--pf-v5-global--BackgroundColor--dark-400);
}


