.karavan .nav-buttons {
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    background-color: var(--pf-t--color--gray--95);
}
.karavan .nav-buttons .nav-button-part-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 64px;
}

.karavan .nav-buttons .environment {
    margin-bottom: 16px;
}

.karavan .nav-buttons .environment .pf-v6-c-label,
.karavan .nav-buttons .environment .pf-v6-c-label .pf-v6-c-label__content::before,
.karavan .nav-buttons .environment .pf-v6-c-label__content {
    color: var(--pf-t--color--white);
    background-color: var(--pf-t--color--gray--60);
}

.karavan .nav-buttons .environment .pf-v6-c-label__icon {
    /*padding: 0;*/
    /*margin: 0;*/
    height: 16px;
    width: 16px;
}

.karavan .nav-buttons .environment .infra-icon-k8s {
    height: 16px;
    width: 16px;
}

.karavan .nav-buttons .environment .infra-icon-docker {
    height: 16px;
    width: 16px;
    fill: #0db7ed;
}

.karavan .nav-buttons .environment .pf-v6-c-label {
    background-color: transparent;
}

.karavan .nav-buttons .environment .pf-v6-c-label .pf-v6-c-label__text {
    color: var(--pf-t--color--white);
}

.karavan .nav-buttons .logo {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 32px;
    height: 32px;
}
.karavan .nav-buttons .pf-v6-c-button {
    padding: 0;
    /*width: fit-content;*/
    height: 64px;
    /*color: var(--pf-t-global--color--light-100);*/
}

.karavan .nav-buttons .pf-v6-c-button svg {
    width: 32px;
    fill: var(--pf-t--color--white);
}

/* Adapt navigation for screens less than 800px */
@media screen and (max-height: 800px) {
    .karavan .nav-buttons .pf-v6-c-button {
        height: 50px;
    }
    .karavan .nav-buttons .pf-v6-c-button .pf-v6-c-button__icon {
        /*display: none;*/
    }
    .karavan .nav-buttons .pf-v6-c-button .nav-button-badge {
        top: 2px;
        right: 2px;
    }
    .karavan .nav-buttons .pf-v6-c-button .nav-button-badge .pf-v6-c-badge{
        font-size: 10px;
    }
}

.karavan .nav-buttons .avatar {
    width: 32px;
    height: 32px;
    border: solid var(--pf-t--color--gray--60) 1px;
    border-radius: 32px;
    padding: 8px;
    background-color: var(--pf-t--color--gray--60);
}

.karavan .nav-buttons .nav-button-wrapper {
    /*padding: 0 6px 0 6px;*/
}
.karavan .nav-buttons .nav-button {
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: transparent;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--pf-t--color--gray--80);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0 6px 0 6px;
    color: var(--pf-t--color--white);
}

.karavan .nav-buttons .nav-button .pf-v6-c-button__icon.pf-m-start {
    margin-inline-end: initial;
}

.karavan .nav-buttons .nav-button-last {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--pf-t--color--gray--80);
}

.karavan .nav-button-selected .pf-v6-c-button {
    border-left-color: #ec7a08;
    background-color: var(--pf-t--color--gray--60);
}

.karavan .nav-buttons .nav-button-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
}

.karavan .nav-buttons .nav-button-badge .pf-v6-c-badge {
    min-width: fit-content;
    background-color: var(--pf-t--global--color--brand--default);
    color: var(--pf-t--global--text--color--on-brand--default);
    font-weight: normal;
}