name: Manual Build Version 0.0.9

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: 8108a1b0fc54cf7f9dec36dc9ec101adceb75f56

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Generate Karavan UI model and API, Kamelets and Components
        run: |
          mvn clean compile exec:java -f karavan-generator \
          -Dexec.mainClass="org.apache.camel.karavan.generator.KaravanGenerator"

      - name: Build Karavan standalone
        run: |
          mvn package -f karavan-app -DskipTest \
          -Dquarkus.container-image.build=true \
          -Dquarkus.container-image.push=true \
          -Dquarkus.container-image.image=ghcr.io/${GITHUB_REPOSITORY}:0.0.9 \
          -Dquarkus.container-image.username=${{ github.actor }} \
          -Dquarkus.container-image.password=${{ secrets.GITHUB_TOKEN }}
