name: Build and deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Karavan VS Code extension (install dependencies)
        working-directory: ./karavan-vscode  
        run: yarn install 

      - name: Karavan VS Code extension (build)
        working-directory: ./karavan-vscode  
        run: yarn run package

      - name: Karavan VS Code extension (install vsce)
        working-directory: ./karavan-vscode
        run: npm install -g vsce

      - name: Karavan VS Code extension (package)
        working-directory: ./karavan-vscode
        run: vsce package

      - name: Karavan VS Code extension (upload)
        uses: actions/upload-artifact@v2
        with:
          name: camel-karavan-vscode
          path: ./karavan-vscode/*.vsix